@model MyFirstMVCApp.Web.Models.Libs
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div id="content">
    <h1>Puzzle One!</h1>


    <h1>The Story of Farmer Ned</h1>

    <p style="font-weight:bold">Please Fill In Parts Of Speech For The Following: </p>

    @using (Html.BeginForm("PuzzleOne", "Response", FormMethod.Post))
    {
        <div id="form">
            <div id="childForm">
                <table>
                    @Html.HiddenFor(m => m.responseId)
                    <tr style="font-weight:bold">
                        <td>@Html.LabelFor(m => m.Name, "Your Name: ")</td>
                        <td>@Html.TextBoxFor(m => m.Name)</td>
                        <td>@Html.ValidationMessageFor(m => m.Name)</td>
                    </tr>

                    <tr style="font-weight:bold">
                        <td>@Html.LabelFor(m => m.InputOne, "Noun: ")</td>

                        <td>@Html.TextBoxFor(m => m.InputOne)</td>
                        <td>@Html.ValidationMessageFor(m => m.InputOne)</td>
                    </tr>
                    <tr style="font-weight:bold">
                        <td>@Html.LabelFor(m => m.InputTwo, "Adjective: ")</td>
                        <td>@Html.TextBoxFor(m => m.InputTwo)</td>
                        <td>@Html.ValidationMessageFor(m => m.InputTwo)</td>
                    </tr>
                    <tr style="font-weight:bold">
                        <td>@Html.LabelFor(m => m.InputThree, "Verb: ")</td>
                        <td>@Html.TextBoxFor(m => m.InputThree)</td>
                        <td>@Html.ValidationMessageFor(m => m.InputThree)</td>
                    </tr>
                    <tr style="font-weight:bold">
                        <td>@Html.LabelFor(m => m.InputFour, "Noun: ")</td>
                        <td>@Html.TextBoxFor(m => m.InputFour)</td>
                        <td>@Html.ValidationMessageFor(m => m.InputFour)</td>
                    </tr>
                    <tr style="font-weight:bold">
                        <td>@Html.LabelFor(m => m.InputFive, "Adjective: ")</td>
                        <td>@Html.TextBoxFor(m => m.InputFive)</td>
                        <td>@Html.ValidationMessageFor(m => m.InputFive)</td>
                    </tr>
                </table>
            </div>
        </div>
        <button>See Your Story!</button>
    }
</div>